*{
  padding: 0;
  margin: 0;
}

h2{
  font-family: Tahoma;
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.8em;
}

.bord{
  padding: 10px;
  border-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

/*BOTÕES*/

.button:hover{
  background-color: black;
  color: white;
  transition: 0.4s;
}

#buttonC{
  background-color: red;
  color: white;
}

#buttonC:hover{
  background-color: black;
  color: white;
  transition: 0.4s;
}

body{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#title{
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
.main{
  padding-left: 18px;
  margin: 0 auto;
}
#n0{
  margin-left: 0px;
}
.button{
  font-family: Tahoma;
  width: 50px;
  height: 50px;
  font-size: 15px;
  margin: 2;
}
.textview{
  width: 213px;
  height: 30px;
}
